
	<section class="flat-row flat-login style2 parallax1" style="padding-top: 0px;padding-bottom: 0px;">>
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
					</div><!-- /.col-lg-2 -->
					<div class="col-lg-4 col-sm-6">
						<div class="login-form style2" style="font-family:Nanum Gothic Coding">
+							<h3 style="font-family:Nanum Gothic Coding">회원</h3>
							<!--<form action="/create" method="POST" accept-charset="utf-8">-->
							<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
							   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
								<div class="wrap-login">
									<%= f.label :email %><br />
    								<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
								</div>
								<div class="wrap-login">
									<%= f.label :password %>
								    <% if @minimum_password_length %>
								    <em>(<%= @minimum_password_length %> characters minimum)</em>
								    <% end %><br />
								    <%= f.password_field :password, autocomplete: "off" %>
								</div>
								<div class="wrap-login">
								    <%= f.label :password_confirmation %><br />
    								<%= f.password_field :password_confirmation, autocomplete: "off" %>
    							</div>
								<br>
								<div class="wrap-login">
									<%= f.label :major %>
									<%= f.email_field :major, autofocus: true, autocomplete: "off" %>
								</div>
								<div class="wrap-login">
									<%= f.label :another_major %>
									<%= f.email_field :another_major, autofocus: true, autocomplete: "off" %>
								</div>
								<div class="wrap-login">
									<%= f.label :sex %>
									<%= select_tag(:sex, '<option value="man">남</option><option value="man">여</option>') %>
								</div>
								<div class="actions">
								  <%= f.submit "Sign up" %>
								</div>
								<%= render "devise/shared/links" %>
							<% end %>
							<!--</form>--><!-- /form -->
						</div><!-- /.login-form style2 -->
					</div><!-- /.col-lg-4 col-sm-6 -->
					<div class="col-lg-1">
					</div><!-- /.col-lg-1 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
			<div class="overlay"></div>
		</section><!-- /.flat-login style2 -->
		
