<%= stylesheet_link_tag "chat" %>
<%= javascript_include_tag "chat" %>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div style="width: 100%">
  
<div class="chat">
<div class="container-fluid">
    <div class="chat">      
      <div class="chat-history">
        <ul>
          <% @room.chats.each do |chat| %>
          
          <% unless chat.user_id == current_user.id %>
            <div class="message-data">
              <span class="message-data-name" style="margin-left: -40;"><%= chat.user.nickname%></span>
            </div>
            <div class="message my-message" style="width: 100%; padding-left: 20px;">
              <%= chat.message %>
            </div>
          
            <% else %>
              <div class="message-data align-right">
              <span class="message-data-name"><%= chat.user.nickname%></span>
              
            </div>
            <div class="message other-message" style="text-align:right; width: 100%; padding-right:20px;" >
              <%= chat.message %>
            </div>
            <% end %>
            
            <% end %>
            
          </div> <!-- end chat-history -->
      <div class="chat-message navbar-fixed-bottom">
        <form action="/rooms/<%=@room.id%>/chat">
          <textarea name="message" id="message" placeholder ="Type your message" color="black" rows="2"></textarea>     
        <button>Send</button>
      </div> <!-- end chat-message -->
      </div>
      </div>
      </div>
      </div>
<%= javascript_include_tag "chat" %>


<script>
  $('#message').val('');
 
 
  function user_chat(data){
      $('.chat-history').append(`<div class="message-data align-right">
          <span class="message-data-name" >${data.nickname}</span></div>
          <div class="message other-message" style="width: 100%; padding-right: 20px;">${data.message}</div>`)
  }
 
   function another_user_chat(data){
      $('.chat-history').append(`<div class="message-data">
        <span class="message-data-name">${data.nickname}</span>
        </div>
        <div class="message my-message" style="width: 100%; padding-left: 20px; left:-10;">
        ${data.message}</div>`)
  }
   var pusher = new Pusher("<%= ENV["Pusher_key"]%>", {
    cluster: "<%= ENV["Pusher_cluster"] %>",
    encrypted: true
  });
 
  var channel = pusher.subscribe("room_<%=@room.id%>");
  var current_user = <%= current_user.id %>
  //var nickname = <1%= current_user.nickname %>
 
  channel.bind('chat', function(data){
    if (current_user == data.user_id){
       user_chat(data);
       console.log("채팅중입니다.")
    }
    else{
       another_user_chat(data);
       console.log("채팅중입니다.")
    }
  });
</script>