		<section class="tp-banner">
			<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
	            <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
	                <div class="slotholder"></div>
	                <ul><!-- SLIDE  -->
	            
	                    <!-- SLIDE 1 -->
	                    <li data-index="rs-3049" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">                        

	                        <!-- MAIN IMAGE -->
	                        <img src="<%= asset_path 'slider/01.png' %>"  alt=""  data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
	                    </li>

	                    <!-- SLIDE 2 -->
	                   <li data-index="rs-3048" data-transition="slideremoveright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="HTML5 Video" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
	                        <!-- MAIN IMAGE -->
	                        <img src="<%= asset_path 'slider/02.png' %>"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina>
	                    </li>

	                    <li data-index="rs-3048" data-transition="slideremoveright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="HTML5 Video" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
	                        <!-- MAIN IMAGE -->
	                        <img src="<%= asset_path 'slider/03.png' %>"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina>
	                    </li>         
	                </ul>
	            </div>
	    	</div><!-- END REVOLUTION SLIDER -->
		</section><!-- /.tp-banner -->

		<section class="flat-title">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="title-left">
							<div class="box-title"><span><%=@room.room_type %></span></div>
							<br>
							<br>
							<br>
							<div class="box-title">
								<div><h2><%= @room.room_title %></h2></div>
							</div><!-- /.box-title -->
							<br>
							<ul class="box-address">
								<li><span class="ti-check-box"></span> <font size="4"><%= @room.food_type%></font></li>
								<li><i> 밥먹는 시간 : <%= @room.start_time_hour%>시 <%= @room.start_time_min %>분 </i> </li>
							</ul><!-- /.box-address -->
						</div><!-- /.title-left -->
					</div><!-- /.col-md-8 -->
					<div class="col-md-4">
						<div class="title-right">
							<div class="btn-more match">
								<%= link_to 'Ready', ready_room_path(@room), method: 'post', remote: true %>
							</div>
								<div class="btn-more">
									<div class="chat_link">
										<% if @room.admissions.where(ready_state: true).size == @room.max_count %>
										   <% if @room.master_id.eql?(current_user.email) %>
										           <%= link_to 'Start', open_chat_room_path(@room), method: 'post', remote: true %>
										   <% end %>        
										<% end %>
									</div>
								</div>
							<div class="clearfix"></div>
						</div><!-- /.title-right -->
					</div><!-- /.col-md-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-title -->

		<section class="flat-row flat-explore-detail">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="text-box">
							<h3>현재 참여 인원</h3>
							<table>
							  <thead>
							   <tr>
							     <th colspan="8" style="padding-right: 10px;" >참여한 사람</th>
							     <th colspan="8">레디 상태</th>
							   </tr>
							  </thead>
							
							  <tbody class="room_user_list">
							   <% @room.users.reverse.each do |user| %>
							     <tr class="user-<%=user.id %>">
							       <td colspan="8" style="padding-right: 10px;"><%= user.email %></td>
							       <td colspan="8"><span class="current<%=@room.id %>"><%= user.admissions.where(room_id: @room.id)[0].ready_state %></span></td>
							     </tr>
							   <% end %>
							  </tbody>
							</table>
						</div>
						<br/>
						<div class="text-box">
							<h3>HashTag</h3>
							<div class="text-desc">
								<i><%= @room.hashtag %></i>
							</div>
						</div>
					</div><!-- /.col-md-8 -->
					<div class="col-md-4">
						<p> <strong>Max count:</strong> <%= @room.max_count %> </p>
						<% if @room.admissions_count == @room.max_count %>
							<p><strong>인원이 모두 찼습니다. 레디버튼을 눌러주세요.</strong></p>
						<% end %>
					</div><!-- /.col-md-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-explore-detail <-->
	
	<%= link_to 'Back', rooms_path %>
	<%= link_to 'Exit', exit_room_path(@room), method: 'delete', remote: true, data: {confirm: "이 방을 나가시겠습니까?"} %> 
	
<script>
  $(document).on('ready', function(){
         
      function user_exit(data){
         $(`.user-${data.user_id}`).remove();
       }
      
      function user_join(data) {
   		$('.room_user_list').prepend(`
    	 <tr class="user-${data.user_id}">
      		 <td colspan="8" style="padding-right: 10px;">${data.email}</td>
      		 <td colspan="8"><span class="current${data.room_id}">${ data.ready_state}</span></td>
     	 </tr>`);
 		}
      function user_ready(data){
          console.log("user_ready func 들어옴")
        $(`.current${data.room_id}`).remove();
        $(`.current${data.room_id}`).append(`${data.ready_state}`);
        location.reload();
      }
      
      function start_chat(data){
        $('.chat_link').html(`<%= link_to 'chat_start', chat_room_path(@room), method: 'post', remote: true %>`);
        location.reload();
        // location.replace(`/rooms/${data.room_id}/chat`);
       
      }
     
      var pusher = new Pusher("<%= ENV["Pusher_key"]%>", {
        cluster: "<%= ENV["Pusher_cluster"] %>",
        encrypted: true
      });
     
      var channel = pusher.subscribe("room_<%=@room.id%>");
     
       channel.bind('exit',function(data){
       console.log("유저퇴장");
         user_exit(data);
      });
     
      channel.bind('join',function(data){
        console.log("유저입장");
        console.log(data);
        user_join(data);
        
      })
      
      channel.bind('ready',function(data){
        console.log("레디발싸");
        user_ready(data);
      })
     
     channel.bind('start',function(data){
       console.log("start_chat 찍혔다.");
       start_chat(data);
     })
     
     channel.bind('chat_start', function(data) {
        location.reload();
     })
      
 });
</script>
		
	
